<h1 class="centered">The unicorns are preparing for TAKE OFF!</h1>
<h2 class="centered">&rarr;Check back soon for the magical rainbow&larr;</h2>

<div class="hidden">The wanderer of rainbows finds wisdom in the sauce.</div>

<footer>
  Made with magic, Sinatra, <span class="brandico-github"></span> <a href="https://github.com/supermagical-unicorn">Github</a> and Heroku &lt;3
</footer>
