<!DOCTYPE html>
<html>
  <head>
    <title>Supermagical Flying Unicorn Inc.</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
  </head>
  <body>
    <div id="wrap">
      <%= yield %>
    </div>
  </body>
</html>
