/*
 * We love icon fonts <3
 */

@import url(http://weloveiconfonts.com/api/?family=brandico);

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/*
 * Some styling for body and the main content wrapper
 */

body {
  background: url('/img/unicorn2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
    min-height: 90%;
    margin: 2em auto;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 2em;

    border-radius: 20px;
}

footer {
  color: #ddd;
  font-size: 0.75em;
  position: absolute;
  bottom: 0px;
  text-align: center;
  margin: 0px auto;
  width: 100%;
}

/*
 * Generic classes
 */

.centered {
  margin: inherit auto;
  text-align: center;
}

.hidden-hint {
  display: none;
}

/*

                                                         ,/
                                                        //
                                                      ,//
                                          ___   /|   |//
                                      `__/\_ --(/|___/-/
                                   \|\_-\___ __-_`- /-/ \.
                                  |\_-___,-\_____--/_)' ) \
                                   \ -_ /     __ \( `( __`\|
                                   `\__|      |\)\ ) /(/|
           ,._____.,            ',--//-|      \  |  '   /
          /     __. \,          / /,---|       \       /
         / /    _. \  \        `/`_/ _,'        |     |
        |  | ( (  \   |      ,/\'__/'/          |     |
        |  \  \`--, `_/_------______/           \(   )/
        | | \  \_. \,                            \___/\
        | |  \_   \  \                                 \
        \ \    \_ \   \   /                             \
         \ \  \._  \__ \_|       |                       \
          \ \___  \      \       |                        \
           \__ \__ \  \_ |       \                         |
           |  \_____ \  ____      |                        |
           | \  \__ ---' .__\     |        |               |
           \  \__ ---   /   )     |        \              /
            \   \____/ / ()(      \          `---_       /|
             \__________/(,--__    \_________.    |    ./ |
               |     \ \  `---_\--,           \   \_,./   |
               |      \  \_ ` \    /`---_______-\   \\    /
                \      \.___,`|   /              \   \\   \
                 \     |  \_ \|   \              (   |:    |
                  \    \      \    |             /  / |    ;
                   \    \      \    \          ( `_'   \  |
                    \.   \      \.   \          `__/   |  |    Valkyrie
                      \   \       \.  \                |  |
                       \   \        \  \               (  )
                        \   |        \  |              |  |
                         |  \         \ \              I  `
                         ( __;        ( _;            ('-_';
                         |___\        \___:            \___:

The first wisdom of the unicorn lies ahead: Wise mans tools are analogies and puzzles. And puzzles you will find here.
Wisdom is power, so send an email to charly.theunicorn@web.de to stay ahead of the flock!

*/
